body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.admin-content, .admin-sidebar {
    min-height: 80vh;
}

.admin-footer {
    height: 10vh;
}

.admin-header {
    min-height: 10vh;
    border-bottom: 1px solid $dark;
}

.message-icon, .new-icon {
    font-size: 1.65rem;
}

.count-messages {
    position: relative;
    left: -15px;
    top: 3px;
    font-size: .7rem;
}
